/* styles-nart.css */ 
@font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Bold.ttf') format('truetype'); /* TTF format for bold */
    font-weight: bold;
    font-style: normal;
  }  
body {
    max-width: 3860px;
    margin: 0 auto; 
    padding: 0;
    overflow-x: hidden; 
  }
  .name {
    font-family: 'Ligconseloto', sans-serif;
  }
  
  .name div {
    font-size: 60px;
    word-wrap: break-word;
  }
  
  .name span:first-child {
    color: #FBF1C7;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .name span:last-child {
    color: #B8BB26;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
footer.row {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100vw; 
    height: 254px;
    background: url('images/footer expanded.png') no-repeat left center;
    background-size: cover;
    color: white;
    padding: 25px 0;
    margin: 0;
}
@media (max-width: 767px) {
  footer.row {
      position: relative;
      height: auto; 
  }
}
footer.row .col-md-4 {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
footer.row .col-md-12 h2 {
  color: #FBF1C7;
  font-family: 'Ligconsolata', monospace; 
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
}
footer.row .col-md-12 h2 span {
  color: #B8BB26;
  font-family: 'Ligconsolata', monospace; 
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-div {
  width: 299px;
  height: 51px;
  background: #FBF1C7;
  border-radius: 24px;
  margin: auto;
  flex-shrink: 0;
  margin-top: 25px;
}
.custom-div img {
  width: 45px;
  height: 45px;
  margin-right: 12px; 
  margin-top: 3px;
}

