@font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Bold.ttf') format('truetype'); /* TTF format for bold */
    font-weight: bold;
    font-style: normal;
  }  
body {
    max-width: 1440px;
    margin: 0 auto; 
  }
  .name {
    font-family: 'Ligconseloto', sans-serif;
  }
  
  .name div {
    font-size: 60px;
    word-wrap: break-word;
  }
  
  .name span:first-child {
    color: #FBF1C7;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .name span:last-child {
    color: #B8BB26;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
footer.row {
    position: relative;
  }
  
  footer.row img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  
    background-size: contain; 
    background-position: center; 
  }
  footer.row .col-md-4 {
    background-color: 1D2021; 
    padding: 20px;
    border-radius: 8px; 
  }
  .navbar.bg-body-tertiary {
    background-color: rgb(179, 105, 9);
  }
  