/* styles-nart.css */ 
@font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ligconseloto';
    src: url('fonts/Ligconsolata-Bold.ttf') format('truetype'); /* TTF format for bold */
    font-weight: bold;
    font-style: normal;
  }  
body {
  flex: 1;
    max-width: 3860px;
    margin: 0 auto; 
    padding: 0;
    overflow-x: hidden; 
  }
  .name {
    font-family: 'Ligconseloto', sans-serif;
  }
  
  .name div {
    font-size: 60px;
    word-wrap: break-word;
  }
  
  .name span:first-child {
    color: #FBF1C7;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .name span:last-child {
    color: #B8BB26;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
footer.row {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100vw; 
    height: 254px;
    background: url('images/footer expanded.png') no-repeat left center;
    background-size: cover;
    color: white;
    padding: 25px 0;
    margin: 0;
}
@media (max-width: 767px) {
  footer.row {
      position: relative;
      height: auto; 
  }
}
footer.row .col-md-4 {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
footer.row .col-md-12 h2 {
  color: #FBF1C7;
  font-family: 'Ligconsolata', monospace; 
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
}
footer.row .col-md-12 h2 span {
  color: #B8BB26;
  font-family: 'Ligconsolata', monospace; 
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-div {
  width: 299px;
  height: 51px;
  background: #FBF1C7;
  border-radius: 24px;
  margin: auto;
  flex-shrink: 0;
  margin-top: 25px;
}
.custom-div img {
  width: 45px;
  height: 45px;
  margin-right: 12px; 
  margin-top: 3px;
}
.col-md-12 h2{
  margin-top: 60px;
  color: #FBF1C7;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 h2 span{
  margin-top: 60px;
  color: #B8BB26;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 .contact-back{
  width: auto;
  height: 515px;
  flex-shrink: 0;
  background: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;

}
.contact {
  width: 627px;
  height: 481px;
  flex-shrink: 0;
  border-radius: 19px;
  border: 1px solid #FB4934;
  background: #1D2021 !important;
  margin:  auto;

}
.col-md-12 p{
  margin: 15px;
flex-shrink: 0;
color: #FBF1C7;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.row-container {
  display: flex;
  justify-content: space-between;
}

.name-container {
  flex: 1;
}
.email-container {
  margin-top: 25px;
  flex:1;
}
.message-container{
  flex:1;
  margin-top: 25px;
}
.firstName,
.lastName {
  width: 200px; 
  margin: auto;
  margin-top: 5px;
}
.email {
  width: 200px; 
  margin: auto;
  margin-top: 5px;
}
.message {
  width: 200px; 
  margin: auto;
  margin-top: 5px;
}
.firstName {
  width: 280px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #FB4934;
  background: #1D2021 !important;
  color: #FBF1C7 !important;
}
.lastName{ 
  width: 280px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #FB4934;
  background: #1D2021 !important;
  color: #FBF1C7 !important;
}
.col-md-12 p2{
  color: #B8BB26;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 p2 span{
  color: #FBF1C7;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 p3{
  color: #B8BB26;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 p3 span{
  color: #FBF1C7;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.col-md-12 p4{
  color: #FBF1C7;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.email{
  font-family: 'Ligconseloto', sans-serif;
  width: 593px;
  height: 41px;
  flex-shrink: 0;
border-radius: 9px;
border: 1px solid #FB4934;
background: #1D2021 !important;
color: #FBF1C7 !important;
}
.message{
  font-family: 'Ligconsolata', monospace; 
  width: 593px;
height: 140px;
flex-shrink: 0;
border-radius: 9px;
border: 1px solid #FB4934;
background: #1D2021 !important;
color: #FBF1C7 !important;
}
.btn-primary {
  margin-top: 13px;
  background-color: transparent;
  border-color: #FB4934;
  color: #FBF1C7;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #FB4934;
  border-color: #FB4934;
}
