/* styles-elly.css */ 
@font-face {
  font-family: 'Ligconseloto';
  src: url('fonts/Ligconsolata-Regular.ttf') format('truetype'); /* TTF format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ligconseloto';
  src: url('fonts/Ligconsolata-Bold.ttf') format('truetype'); /* TTF format for bold */
  font-weight: bold;
  font-style: normal;
}

body
{
    font-family: 'Ligconseloto', sans-serif;
    background-image: url(http://staff.hamk.fi/~tsaksa/temp/background-image.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
  
  /* Additional styles for your page if needed */
  .main-container {
    margin-top: 20px;
  }
  
  .name {
    text-align: center;
    margin-bottom: 10px;
  }
  
  footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  /* Add some spacing between rows */
  .row {
    margin-bottom: 20px;
  }