/* styles-adm.css */ .red-button {
    width: 504px;
    height: 90px;
    left: 791px;
    top: 1007px;
    position: absolute;
    background: #1D2021;
    border-radius: 45px;
    border: 1px solid #FB4934;
}


.navbar-color
{
    background-color: #1D2021 !important;
}

/* Implementing 3 of these */
.main-project-button {
    width: 1102px;
    height: 127px;
    left: 169px;
    top: 1759px;
    position: absolute;
    background: #1D2021;
    border-radius: 14px;
    border: 1px solid #FB4934;
}

.check-it-out-button {
    width: 124px;
    height: 49px;
    left: 529px;
    top: 1798px;
    position: absolute;
    background: #1D2021;
    border-radius: 44.50px;
    border: 1px solid #FB4934;
}

/* Just a black background */
.project-background {
    width: 1440px;
    height: 516px;
    left: 0px;
    top: 1726px;
    position: absolute;
    background: #1A1A1A;
}

/* The red line that needs to be put in the middle of main-project-button*/
.project-division-line {
    width: 127px;
    height: 0px;
    left: 720px;
    top: 1759px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px #FB4934 solid;
}

.form-background {
    width: 613px;
    height: 451px;
    left: 422px;
    top: 2457px;
    position: absolute;
    background: #1D2021;
    border-radius: 19px;
    border: 1px #FB4934 solid;
}

/* Implementing 2 of these, 1 for forename, second for surname*/
.form-name-button {
    width: 280px;
    height: 41px;
    left: 445px;
    top: 2571px;
    position: absolute;
    background: #1D2021;
    border-radius: 9px;
    border: 1px #FB4934 solid;
}

.form-email-button {
    width: 567px;
    height: 41px;
    left: 445px;
    top: 2664px;
    position: absolute;
    background: #1D2021;
    border-radius: 9px;
    border: 1px #FB4934 solid;
}

/* In contact me form, there is no "send" button or anything like that. We may create one now or later on...(since now the form is only cosmetic)*/
.form-message-button {
    width: 567px;
    height: 116px;
    left: 445px;
    top: 2757px;
    position: absolute;
    background: #1D2021;
    border-radius: 9px;
    border: 1px #FB4934 solid;
}

/* Here are all text fonts with colours and sizes (big ones are headers, normal ones are "basic") */

.base-header-font {
    color: #FBF1C7 !important;
    font-family: Ligconseloto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.green-header-font {
    color: #B8BB26 !important;
    font-family: Ligconseloto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.red-header-font {
    color: #FB4934 !important;
    font-family: Ligconseloto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.blue-header-font {
    color: #83A598 !important;
    font-family: Ligconseloto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.orange-header-font {
    color: #FABD2F !important;
    font-family: Ligconseloto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.giant-header-font {
    color: #FBF1C7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Ligconseloto;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* This font is being used in orientation buttons (size 35px) */
.orientation-base-font {
    color: #FBF1C7;
    font-family: Ligconseloto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* This font is being used under the giant header (if you dont know, check Figma) */
.orientation-red-font {
    color: #FB4934;
    font-family: Ligconseloto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orientation-orange-font {
    color: #FABD2F;
    font-family: Ligconseloto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*This is used for almost everything, the base font...size 20px*/
.base-font {
    color: #FBF1C7 !important;
    font-family: Ligconseloto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.blue-base-font {
    color: #83A598 !important;
    font-family: Ligconseloto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.green-base-font {
    color: #B8BB26 !important;
    font-family: Ligconseloto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.orange-base-font {
    color: #FABD2F !important;
    font-family: Ligconseloto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.red-base-font {
    color: #FB4934 !important;
    font-family: Ligconseloto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
